{% extends 'base.html.twig' %}

{% block title %}Administrer Gebyrtrinn{% endblock %}

{% block body %}
<h1>Administrer Gebyrtrinn</h1>
<form method="post">
    {# Add form fields for managing fee tiers #}
    <button type="submit">Lagre</button>
</form>
{% endblock %}