{% extends 'base.html.twig' %}

{% block body %}
<!-- Existing content -->

<h2>Ledige Sesongbilletter</h2>
<ul>
    {% for ticket in seasonalTickets %}
        <li>
            {{ ticket.name }} - Pris: {{ ticket.price }}
            <a href="{{ path('seasonal_ticket_purchase', {'id': ticket.id}) }}">Kjøp</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}