{% extends 'base.html.twig' %}

{% block title %}Seasonal Ticket Form{% endblock %}

{% block body %}
<h1>Seasonal Ticket Form</h1>
<form method="post">
    {# Add form fields for seasonal ticket details #}
    <button type="submit">Save</button>
</form>
{% endblock %}