{% extends 'base.html.twig' %}

{% block title %}Season Category Form{% endblock %}

{% block body %}
<h1>Season Category Form</h1>
<form method="post">
    {# Add form fields for season category details #}
    <button type="submit">Save</button>
</form>
{% endblock %}